@import "tailwindcss";

@layer base {
    * {
        scrollbar-width: thin;
        scrollbar-color: rgb(63 63 70 / 0.5) transparent;
    }

    body {
        @apply bg-zinc-950 text-zinc-100 min-h-screen antialiased;
    }
}
